.App {
  text-align: center;
}

.characters-container {
  display: grid;
  gap: 10px;
}

.banner-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: center;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

.banner-button {
  width: fit-content;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.banner-button:hover {
  background-color: rgb(185, 185, 185);
}